.conteudo__apresentacao__informacao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.conteudo__apresentacao__informacao .conteudo__menu-lista {
    gap: 0.5rem;
}

.conteudo__apresentacao__informacao .conteudo__perfil-dados {
    gap: 0.7rem;
}

@media screen and (max-width: 776px) {
    .conteudo__apresentacao__informacao .conteudo__grupo {
        justify-content: center;
        align-items: center;
    }

    .conteudo__apresentacao__informacao .conteudo__imagem {
            width: 40%;
    }
}

@media screen and (max-width: 400px) {
    .conteudo__apresentacao__informacao .conteudo__imagem {
        width: 80%;
    }
}