.header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.header__menu-lista {
    display: flex;
    gap: 1rem;
}

.header__menu-link {
    color: #234991;
    font-weight: 600;
    text-decoration: none;
}

.header__menu-link:hover {
    border-bottom: 4px solid #416cbb;
    padding: 4px 0;
}

.header__link {
    background: #234991;
    border-radius: 0.5rem;
    color: #FFFFFF;
    padding: 0.8rem;
    text-decoration: none;
}

.header__imagem {
    width: 15%;
}

@media screen and (max-width: 1294px) {
    .header {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .header__menu-lista {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__imagem {
        width: auto;
    }
}

@media screen and (max-width: 570px) {
    .header__imagem {
        width: 100%;
    }
}